<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.zingo.zingoguest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REAL_GET_TASKS" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".UI.LandingScreens.SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.LandingScreens.WelcomeScreen"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDOARG0be2EHCz4ISBZli4BUsahhYJWzZE" />

        <activity
            android:name=".UI.LandingScreens.GuestLoginScreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UI.SelectedBooking.CheckOutAlertScreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UI.SelectedBooking.CheckOutExtendScreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UI.BookingDetails.TripDetailsScreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UI.ProfileScreen.ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".UI.BookingDetails.BookingHistoryActivity" />
        <activity android:name=".UI.RoomViews.SelectRoom" />
        <activity android:name=".UI.BookingDetails.MoreBookingsScreen"></activity>
    </application>

</manifest>